*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/tm-sites.php
/storage/tm-sites.lock
/storage/tm-buffer/
/storage/pail
/vendor
/_laravel_scaffold
/dist
/frontend/node_modules
Homestead.json
Homestead.yaml
Thumbs.db
